body {
    background-color: rgb(247, 140, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(228, 110, 110, 0.1);
    padding: 20px;
    width: 400px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
button {
    width: 100%;
}
.bloqueo {
    display: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.bloqueo img {
    width: 100px;
    margin-bottom: 15px;
}